.Page404{
    display: flex;
    justify-content: center;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 90vh;
    padding: 5rem;
    width: 100%;
}


.Page404 img{
    width: 30rem;
}

.Page404 button{
    width: 10rem;
    padding: 15px;
}